<a href="https://colab.research.google.com/github/BAravind-5/Task_1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

df_shopify = pd.read_csv('/content/shopify_trending_products_2025.csv')
df_shopify.head()

,Product_ID,Product_Name,Category,Subcategory,Estimated_Total_Units_Sold_in_2025,Estimated_Revenue_in_2025_USD,Price_Range_USD,Trend_Score,Trend_Source,Notes
0,PROD-2025-0001,Loaded Tea At-Home Beverage Pack,Food & Beverage,Beverages,1651289,4953867.0,$3.0-$4,99.6,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
1,PROD-2025-0002,Protein Coffee On-The-Go Energy Drink,Food & Beverage,Beverages,1466551,4399653.0,$3.0-$4,96.9,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
2,PROD-2025-0003,Whitening Strips 7-Day Treatment,Beauty & Skincare,Personal Care,953072,10483792.0,$11.0-$16,95.7,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
3,PROD-2025-0004,5-1 Full Body Shaver,Beauty & Skincare,Personal Care Gadgets,509346,22920570.0,$45.0-$68,97.5,Shopify Trending List,Verified top seller in 2025 ecommerce reports.
4,PROD-2025-0005,Newborn Training Pants Baby Shorts,Baby,Organic Baby Clothing,835510,12532650.0,$15.0-$22,95.2,Shopify Trending List,Verified top seller in 2025 ecommerce reports.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [18]:

df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [19]:

df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [20]:
df.shape

(17000, 9)