<a href="https://colab.research.google.com/github/BAravind-5/Task_1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

df_shopify = pd.read_csv('/content/shopify_trending_products_2025.csv')
df_shopify.head()

,Product_ID,Product_Name,Category,Subcategory,Estimated_Total_Units_Sold_in_2025,Estimated_Revenue_in_2025_USD,Price_Range_USD,Trend_Score,Trend_Source,Notes
0,PROD-2025-0001,Loaded Tea At-Home Beverage Pack,Food & Beverage,Beverages,1651289,4953867.0,$3.0-$4,99.6,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
1,PROD-2025-0002,Protein Coffee On-The-Go Energy Drink,Food & Beverage,Beverages,1466551,4399653.0,$3.0-$4,96.9,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
2,PROD-2025-0003,Whitening Strips 7-Day Treatment,Beauty & Skincare,Personal Care,953072,10483792.0,$11.0-$16,95.7,TikTok Shop Viral,Verified top seller in 2025 ecommerce reports.
3,PROD-2025-0004,5-1 Full Body Shaver,Beauty & Skincare,Personal Care Gadgets,509346,22920570.0,$45.0-$68,97.5,Shopify Trending List,Verified top seller in 2025 ecommerce reports.
4,PROD-2025-0005,Newborn Training Pants Baby Shorts,Baby,Organic Baby Clothing,835510,12532650.0,$15.0-$22,95.2,Shopify Trending List,Verified top seller in 2025 ecommerce reports.

In [21]:
df_shopify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Product_ID                          1000 non-null   object
 1   Product_Name                        1000 non-null   object
 2   Category                            1000 non-null   object
 3   Subcategory                         1000 non-null   object
 4   Estimated_Total_Units_Sold_in_2025  1000 non-null   int64
 5   Estimated_Revenue_in_2025_USD       1000 non-null   float64
 6   Price_Range_USD                     1000 non-null   object
 7   Trend_Score                         1000 non-null   float64
 8   Trend_Source                        1000 non-null   object
 9   Notes                               1000 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 78.3+ KB

In [22]:

df_shopify.describe()

,Estimated_Total_Units_Sold_in_2025,Estimated_Revenue_in_2025_USD,Trend_Score
count,1.000000e+03,1.000000e+03,1000.000000
mean,9.762182e+04,8.986433e+06,81.677600
std,1.778695e+05,1.187540e+07,6.890711
min,1.014400e+04,1.444905e+05,70.000000
25%,3.469100e+04,3.113328e+06,75.800000
50%,6.283300e+04,5.760511e+06,81.800000
75%,8.801925e+04,9.984228e+06,86.900000
max,2.765107e+06,8.833306e+07,99.600000

In [23]:

df_shopify.isnull().sum()

Product_ID                            0
Product_Name                          0
Category                              0
Subcategory                           0
Estimated_Total_Units_Sold_in_2025    0
Estimated_Revenue_in_2025_USD         0
Price_Range_USD                       0
Trend_Score                           0
Trend_Source                          0
Notes                                 0
dtype: int64

In [24]:
df_shopify.shape

(1000, 10)

In [26]:

df_shopify['Category'].value_counts()

Category
Fitness              137
Beauty & Skincare    122
Baby                 114
Digital Goods        113
Electronics          111
Home & Garden        104
Pet                  103
Fashion              101
Eco-Friendly          93
Food & Beverage        2
Name: count, dtype: int64

In [27]:

df_shopify['Subcategory'].unique()

array(['Beverages', 'Personal Care', 'Personal Care Gadgets',
       'Organic Baby Clothing', 'Womenswear', 'Baby Safety Gear',
       'Eco-friendly Cleaning', 'Accessories', 'Recovery Tools',
       'Home Gym Equipment', 'Kitchen Gadgets', 'Portable Audio',
       'Korean Skincare', 'Hair Care Tools', 'Home Office Decor',
       'Smart Pet Feeders', 'Zero-waste Kits', 'Digital Planners',
       'Activewear', 'Smart Home Devices', 'Yoga Gear',
       'Smart Fitness Trackers', 'Interactive Pet Toys',
       'Solar Powered Gadgets', 'Pet Apparel', 'Stock Media',
       'Phone Accessories', 'Wearable Tech', 'SaaS Subscriptions',
       'Charging Solutions', 'Smart Baby Monitors', 'Organic Pet Food',
       'Online Courses', 'Eco-friendly Diapers', 'Educational Toys',
       'Menswear', 'Sustainable Apparel', 'E-books', 'Reusable Packaging',
       'Fragrances', 'Pet Grooming Tools', 'Upcycled Fashion', 'Footwear',
       'Indoor Plants Accessories', 'Smart Lighting', 'Organic Makeup',
       'Athleisure', 'Biodegradable Products'], dtype=object)

Feature Types:
- Numerical: Estimated_Total_Units_Sold_in_2025, Estimated_Revenue_in_2025_USD, Price
- Categorical: Product_Name, Category, Subcategory
- Identifier: Product_ID